header{    
    background: $roxo;    
    height: 90px;
    border-bottom: 5px solid $roxo-hover;
    section{
        article{
                        
            .logo{ 
                display: flex;
                align-items: center;
                padding: 0;
             
                img{
                    width: 50px;                    
                    margin-right: 10px;
                }
              
                a{
                    text-decoration: none;
                    color: $branco;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-family: 'Anton', sans-serif;
                    @include text-shadow(1px, 1px, 1px, $cinza);                  
                    &:hover{
                        color: $roxo-hover;
                        @include text-shadow(1px, 1px, 2px, $branco);
                    }                    
                }
            }
            form{
                input{
                    width:100%;
                    border: 0;
                    background: #fff;
                    border: 1px solid rgb(216, 210, 210);
                    border-radius: 100px;
                    padding:5px 20px;
                }
                .btn-search{
                    background: none;
                    border: none;
                    position: absolute;
                    top:5px;
                    right: 27px;
                    cursor:pointer;
                    &:hover i{
                        color: $roxo-hover;                        
                    }
                }

            }
            nav{
            
                ul{                    
                    margin-top: 14px;
                    position: relative;
                    span.contidade{
                        position: absolute;
                        top: -13px;
                        right: 76px;
                        border-radius: 100%;
                        background: $vermelho;
                        width: 15px;
                        height: 15px;
                        font-size: 10px;
                        color: $branco;
                        text-align: center;
                        line-height: 15px;
                    }
                    li{
                        list-style: none;
                        margin-right: 20px;
                        a{
                            color: $branco;
                            text-decoration: none !important;                            
                            @include text-shadow(1px, 1px, 2px, $preto); 
                            &:hover{
                                color: $roxo-hover;
                                @include text-shadow(1px, 1px, 1px, $branco);
                            }
                        }
                    }
                }
            }

        }
    }
    
}