header{    
    background: $preto;    
    min-height: 90px;    
    section{
        article{ 
              
                a{
                    img{
                        width: 50px;                    
                        margin-right: 10px;
                        
                    }
                    text-decoration: none;
                    color: $branco;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-family: 'Anton', sans-serif;
                    @include text-shadow(1px, 1px, 1px, $cinza);                  
                    &:hover{
                        color: $roxo-hover;
                        @include text-shadow(1px, 1px, 2px, $branco);
                        text-decoration: none;                                       
                }
            }
            form{
                margin: 5px 0;
                input{
                    width:100%;
                    border: 0;
                    background: #fff;
                    border: 1px solid rgb(216, 210, 210);
                    border-radius: 100px;
                    padding:5px 20px;
                }
                .btn-search{
                    background: none;
                    border: none;
                    position: absolute;                    
                    right: 30px;
                    cursor:pointer;
                    &:hover i{
                        color: $roxo-hover;                        
                    }
                }

            }
            nav{
            
                ul{                    
                    margin-top: 14px;
                    position: relative;
                    span.contidade{
                        position: absolute;
                        top: -13px;
                        right: 57px;
                        border-radius: 100%;
                        background: $vermelho;
                        width: 15px;
                        height: 15px;
                        font-size: 10px;
                        color: $branco;
                        text-align: center;
                        line-height: 15px;
                    }
                    li{
                        list-style: none;
                        margin-left: 20px;
                        a{
                            font-family: 'Roboto', sans-serif;
                            font-size: 14px;
                            text-transform: none;
                            color: $branco;
                            text-decoration: none !important;                            
                            @include text-shadow(1px, 1px, 2px, $preto); 
                            &:hover{
                                color: $roxo-hover;
                                @include text-shadow(1px, 1px, 1px, $branco);
                            }
                        }
                    }
                }
            }

        }
    }
    
}