nav.nav-produtos{
    background: $amarelo;
    color: $branco;    
    margin-bottom: 5px;
    ul.nav{
        li{
            font-size: 14px;
            position: relative;
            padding: 7px 0;            
            a{
                color: $branco;
                text-decoration: none;
                i{
                    margin-right: 5px;
                    font-size: 16px;
                }
            }
            ul.nav{
                display: none;
            }
        }
    }
}

