$branco: #fff;
$branco-hover: rgb(245, 234, 234);
$amarelo:#E8AE00;
$amarelo-hover:#cc9c0b;
$preto: #222;
$vermelho: rgb(231, 58, 35);
$rosa: #FDBEB5;
$rosa-hover: #e29c91;
$roxo: #BC79FF;
$roxo-hover: #AE5EFF;
$cinza: #666;